.form__fieldset {
    border-radius: 30px;
    padding: 50px; margin: 20px;
}

.form__legend {
    font-size: 30px;
    border: 1px solid blue;
    border-radius: 50px;
    padding: 10px;
    color: white;
    background-color: blue;
    font-weight: bolder;
}

.form__paragraph {
    margin-top: 20px;
    padding: 10px 0;
}

.form__paragraph--size{
    font-size: 20px;
}