.form__button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 30px;
    background-color: blue;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    font-size: 20px;
}

.form__button:hover {
    background-color: hsl(240, 100%, 60%);
    transition: 0.3s;
}

.form__button:active {
    background-color: hsl(240, 100%, 65%);
}